* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body {
  font-family: 'lato', sans-serif;
  background-color: black;
  height:100vh
}

h1 {
  color:white;
  text-transform: uppercase;
  font-size:72px;
  text-align: center;
  padding-top:40vh;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
  z-index: 9999;
}

#bg{
  position: absolute;
  top:0;
  left:0;
  right:0;
  z-index: -1;
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.header-icons a {
    border: none!important;
    padding: none;
    margin: none
}

.down,.header-icons .icon {
    color: #fff;
    text-align: center
}

.header-icons .icon {
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    transition: all .5s;
    width: 20px;
    font-size: 20px;
    margin: 5px;
    border: 2px solid #fff
}

.header-icons .icon:active,.header-icons .icon:hover {
    color: #1a222c;
    background: #fff
}


.fa {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.header-icons a {
    border: none!important;
    padding: none;
    margin: none
}

.down,.header-icons .icon {
    color: #fff;
    text-align: center
}

.header-icons .icon {
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    transition: all .5s;
    width: 20px;
    font-size: 20px;
    margin: 5px;
    border: 2px solid #fff
}

.header-icons .icon:active,.header-icons .icon:hover {
    color: #1a222c;
    background: #fff
}


.fa-envelope:before {
    content: "\f0e0"
}